body {
  background-image: url('../Fondo/fondonube.jpg');
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-repeat: repeat-y;
}

#filtro {
  border: 1px solid grey;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 50px;

}

.card-deck {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
  height: auto;
}

.card-title {
  text-align: center;
}

.form-check-inline {
  margin-right: 100px;
}
/* Modificacion de la parte de la ventana: registro*/
.registro {
  border: 3px solid black;
  padding: 80px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: white;
  background-attachment: fixed;
  background-position: center;

  overflow: hidden;
  vertical-align: middle;
  margin-top: 5%;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5%;
}
#registrotitulo {
  text-align: center;
  color:  black;
  border: 2px solid black;
  background-color: white;
}

#reg1 {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: -10px;
}
/*Menu principal*/
.menuprincipal{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*Parte css de la vista de cracion de evento*/
.creacion {
  border: 10px solid black;
  padding: 80px;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url('../Fondo/fede.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
/*cs del menu gestion de eventos*/
.eventos{
  padding-top: 10px;
}
.barraevento{
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 5px;
  padding-bottom: 10px;
  border: 2px solid black;
  background-image: url('../Fondo/fondoblanco.jpg');
}
/*parte css de la vista evento en particular*/


/*Encabezado y pie de la página*/
#logo{
  max-width: 50px;
  max-height: 50px;
  padding-right: 10px;
}
#Pie{


  background-color: white;
}
/*ventana del login*/
.loginuser{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    margin-bottom:20%;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-attachment: fixed;
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
}


#titulosblancos{
  font-size: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;


}
.error404{
  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}



.pagination{
    margin: 20px 0;
}
.pagination a{
    text-align: center;
    display:list-item;
    margin-right: 10px;
    padding: 10px 20px;
    color:#000000;
    background: #ffffff;

    text-decoration:none;
}
.pagination a:hover{
    background-color:#0d8dee;

}

.pagination-space{
    min-height: 1px;
    width: auto;
}
