{% from "macros.html" import standarComments,mostrarevents,expanded_event  with context%}
{% from "macros.html" import mostrar_campo,mostrar_campo_radio, mostrar_campo_submit %}
{% extends "header_footer.html" %}
{% block estilos %}
<link rel="stylesheet" href="{{url_for('static',filename='css/style_events.css')}}">
{% endblock %}
{% block contenido %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="Entorno">
        {{expanded_event(evento)}}
        <div class="commentbox">
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <h4>Sección de comentarios</h4>
            </div>
            <div class="col-md-2">
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              {% if   current_user.is_authenticated   %}
              <button type="button" id="botonhacercoment" class="btn btn-dark boton-evento" data-toggle="modal" data-target="#modal_comment">Hacer Comentario </button>
              {% endif %}
              <div class="modal fade" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modalcoment1" role="document">
                  <form method="POST" action="{{ url_for('detailedEvent', id=evento["eventoId"]) }}" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <div class="modal-content modalcoment2">
                      <div class="modal-header">
                        <h3 class="modal-title modaltitulo" id="exampleModalCenterTitle" style="text-align: center;">Comentar Evento</h3>
                        <button type="button" class="closebtn" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true" class="ekis">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="comentario">
                          {{ mostrar_campo(form.comentario, class='form-control', style="width: 490px; height: 170px" )}}
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger cancelar" data-dismiss="modal">Cancelar</button>
                        {{ mostrar_campo_submit(form.submit , class='btn btn-danger enviar')}}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-md-2">
              </div>
              <div class="row">


                <div class="col-md-12">
                  {% for comentario in commentList %}
                  {{ standarComments(comentario) }}
                  {% endfor %}

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}
