{% macro mostrarevents(evento) %}
<div class="col-md-4">
  <div class="card-deck">
    <div class="card">
      <img src="{{url_for('static',filename='Fondo/Geralt.jpg')}}" class="card-img-top img-fluid " alt="...">
      <div class="card-body">

        <h5 class="card-title">Evento: {{evento["nombre"]}}</h5>
        <p class="card-text" id="ICONO"><span class="iconify" data-icon="typcn-calendar" data-inline="false"></span>{{evento["fecha"]}}</p>
        <p class="card-text" id="ICONO"><span class="iconify" data-icon="typcn-map" data-inline="false"></span>{{evento["tipo"]}}</p>
        <p class="card-text" id="ICONO"><span class="iconify" data-icon="il-clock" data-inline="false"></span>{{evento["hora"]}}</p>
        <p class="card-text"><small class="text-muted">De: {{evento.usuario.nombre}}</small></p>
        <a class="btn-btn-dark" href="{{url_for('detailedEvent',id=evento["eventoId"])}}"> Ver más</a>

      </div>
    </div>
  </div>
</div>
{% endmacro %}



{% macro evento_admin (evento) %}
<div class="barraevento">
  <label>{{evento["nombre"]}}</label>
  <div class="row">
    <div class="col-md-3">
      <a type="button" class="btn btn-dark" href="{{url_for('eventbyAdmin',id=evento["eventoId"])}}">Ver<a>
    </div>
    <div class="col-md-3">
      <a class="btn btn-danger" type="button" href="">Eliminar</a>
    </div>
    <div class="col-md-3">
      {% if (evento.aprobado==False) %}
      <a type="button" class="btn btn-outline-success" href="{{url_for('checkEvent',id=evento["eventoId"])}}">Aprobar</a>
      {% endif %}
      <a type="button" class="btn btn-outline-success" href="{{url_for('updateEvent',id=evento["eventoId"])}}">Modificar</a>

    </div>
  </div>
</div>
{% endmacro %}

{% macro standarComments (comentario) %}

<div class="row">
  <div class="col-md-2">
  </div>
  <div class=col-md-8>
    <div class="media">
      <div class="media-body">
        <h3 class="mt-0 font-weight-bold blue-text"><span class="iconify" data-icon="gridicons:user-circle" data-inline="false"></span>{{comentario.usuario.nombre}}</h3>
        <textarea class="form-control">{{comentario["contenido"]}}</textarea>
        <h3 class="mt-0 font-weight-bold blue-text"><span class="iconify" data-icon="wi:time-8" data-inline="false"></span>{{comentario["fechahora"]}}</h3>
        <h3 class="mt-0 font-weight-bold blue-text"></h3>

      </div>
    </div>

  </div>
  <div class="col-md-2">
  </div>
</div>

{% endmacro %}
{% macro comentariosadmin (comentario) %}
<div class="row">
  <div class="col-md-2">
  </div>
  <div class=col-md-8>
    <div class="media">
      <div class="media-body">
        <h3 class="mt-0 font-weight-bold blue-text"><span class="iconify" data-icon="gridicons:user-circle" data-inline="false"></span>{{comentario.usuario.nombre}}</h3>
        <textarea class="form-control">{{comentario["contenido"]}}</textarea>
        <h3 class="mt-0 font-weight-bold blue-text"></h3>
        <h3 class="mt-0 font-weight-bold blue-text"><span class="iconify" data-icon="wi:time-8" data-inline="false"></span>{{comentario["fechahora"]}}</h3>
        <a type="button"class="btn-btn-danger" href="{{url_for('deleteComment',id=comentario["comentarioId"])}}">Eliminar comentario</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
{% endmacro %}


{% macro mostrar_error(campo) %}
	{% if campo.errors %}
	  <div class="alert alert-danger" role="alert">
	  {% for error in campo.errors %}
	   	{{ error }}<br>
	  {% endfor %}
	  </div>
	{% endif %}
{% endmacro %}


{% macro mostrar_campo(campo) %}
	{{ campo.label }}
	{{ campo(**kwargs)|safe }}
	{{mostrar_error(campo)}}
{% endmacro %}


{% macro mostrar_campo_radio(campo) %}
	{{ campo.label }}
	<br/>
	{% for subfield in campo %}
			{{ subfield }}
	  		{{ subfield.label }}
	{% endfor %}
	{{mostrar_error(campo)}}
{% endmacro %}

{% macro mostrar_campo_submit(campo) %}
	{{ campo(**kwargs)|safe }}
{% endmacro %}

{% macro expanded_event(evento) %}
<h1 id="tituloevento">Evento: {{evento["nombre"]}}</h1>
<div class="row">
  <div class="col-md-6">
    <div class="imagen">
      <img src="{{url_for('static',filename='Fondo/messi.jpg')}}" class="card-img" alt="...">
    </div>
  </div>
  <div class="col-md-6">
    <div class=cuerpotexto>
      <div class="form-group">
        <label for="Evento:"><span class="iconify" data-icon="bpmn:end-event-multiple" data-inline="false"></span>Evento:</label>
        {{evento["nombre"]}}
      </div>
      <div class="form-group">
          <p class="card-text" id="ICONO"><span class="iconify" data-icon="il-clock" data-inline="false"></span>{{evento["hora"]}}</p>
      </div>
      <div class="form-group">
        <p class="card-text" id="ICONO"><span class="iconify" data-icon="typcn-calendar" data-inline="false"></span>{{evento["fecha"]}}</p>
      </div>
      <div class="form-group">
<span class="iconify" data-icon="mdi:star-four-points-outline" data-inline="false"></span>{{evento["tipo"]}}

      </div>
      <div class="form-group" class="col-md-2">
        <label for="comment">Descripcion:</label>
        {{evento["descripcion"]}}
      </div>
    </div>
  </div>
</div>
{% endmacro %}
{% macro myevents(evento)%}
<div class="barraevento">

  <label>{{evento["nombre"]}}</label>
  <div class="row">

    <div class="col-md-3">

      <a>Aprobado: {{evento["aprobado"]}}</a>

    </div>
    <div class="col-md-3">
      <a type="button" class="btn btn-dark" href="{{url_for('updateEvent',id=evento["eventoId"])}}">Modificar</a>


    </div>
    <div class="col-md-3">
      <a type="button" class="btn btn-danger" href="{{url_for('deleteEvent',id=evento["eventoId"])}}">Eliminar</a>

    </div>
    <div class="col-md-3">
      <a type="button" class="btn btn-dark" href="{{url_for('detailedEvent',id=evento["eventoId"])}}">Ver</a>

    </div>

  </div>

</div>
{% endmacro %}
