{% extends "header_footer.html" %}
{% from "macros.html" import myevents %}
{% block estilos %}
<link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
{% endblock %}
{% block iconos %}
<script src="https://code.iconify.design/1/1.0.2/iconify.min.js"></script>
{% endblock %}
{% block contenido %}
<h5 id="titulosblancos">Mis eventos</h5>
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
        {% for evento in listaeventos %}
        {{ myevents(evento)}}
        {% endfor %}
      </div>
      <div class="col-md-4">
      </div>
    </div>




  {% endblock %}
