
<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{url_for('static', filename='..css/estilo.css', _external=True)}}">

      <title>eventz confirmation!</title>
  </head>
  <body>

    <div class="container-fluid text-center ">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            <h3>Confirmación de la cuenta </h3>
        </div>
        <div class="col-md-4"></div>
      </div>
      </div>

      <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <p> Su cuenta ha sido confirmada con éxito ahora ya puede crear/asistir a eventos y comentar. </p>

            </div>
              <div class="col-md-4"></div>
        </div>
      </div>
      <footer class="footer">
       <div class="container-fluid text-center text-md-left">
         <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-2">


           </div>
           <div class="col-md-6">
               <p>Eventz® all rights reserved</p>
                <a href="#">Eventz</a>
           </div>

           <div class="col-md-2"></div>
         </div>
       </div>
      </footer>
</body>
</html>
